body {
  /* background-image: url("../images/racetrackBackground.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
}

.container-home {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 600px;
  max-width: 10000px;
  background-image: url("../images/racetrackBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: space-around;
  border-radius: 25px;
}

.widgetsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.text {
  font-size: 9vw;
  font-family: "Bungee Outline", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow: hidden;
}

.widgets {
  margin: 10px;
  padding: 6px;
  min-width: 15%;
  max-width: 50%;
  min-height: 200px;
  max-height: 240px;
  background-color: #193457;
  border-radius: 6px;
  align-content: flex-end;
  display: flex;
  flex-direction: row;
  border-color: #11233b;
  border-width: 2px;
  overflow: hidden;
}

.text {
  color: #000;
}

.widgetText {
  width: 100%;
  font-size: 20px;
  color: var(--color-black);
  background-color: var(--color-accent);
}

main .material-symbols-outlined {
  color: var(--color-black);
  background-color: var(--color-accent);
}

.textWidgets {
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #fff;
  font-weight: 100;
}

.tickets-widget {
  display: flex;
  flex-direction: column;
  background-color: var(--color-accent);
  width: 100%;
  border-radius: 0px;
}

.post {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: 10;
}

.imageBlog {
  width: 180px;
  height: 225px;
  object-fit: cover;
}

.imageContact {
  width: 100%;
  height: 175px;
  object-fit: cover;
}

.postText {
  background-color: var(--color-accent);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.textPost {
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.contactText {
  background-color: var(--color-accent);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.contact {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.contactIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container {
  padding: 0rem;
}

@media (max-width: 1000px) {
  .imageBlog {
    display: none;
  }
}
