:root {
  --color-background: #b1b1b1;
  --color-danger: #ff0060;
  --color-white: #fff;
  --color-black: #000;
  --color-accent: #d3d3d3;

  --card-border-radius: 2rem;
  --box-shadow: 0 2rem 3rem var(--color-light);

  --color-blue: #0079ff;
  --color-green: #00dfa2;
  --color-yellow: #f6fa70;

  --back-ground-sponsor: none;
  --color-hover: #929292;
}

.dark-mode-variables {
  --color-background: #292b2f;
  --color-white: #000;
  --color-black: #fff;
  --color-accent: #36454f;

  --back-ground-sponsor: #fff;
  --color-hover: #29353d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  text-decoration: none;
  user-select: none;
}

body {
  color: var(--color-black);
  font-family: basic-sans, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-background);
  overflow-x: hidden;
}

h1 {
  font-family: sofachrome, sans-serif;
  margin: 1rem 0rem;
}

header {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 4rem;
  position: sticky;
  top: 0%;
  z-index: 1;
  background-color: var(--color-background);
}

.title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
}

.title-box span {
  cursor: pointer;
  transition: color 0.2s;
}

.title-box span:hover {
  color: var(--color-white);
  transition: color 0.2s;
}

header img,
header span {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-weight: 600;
}

a {
  color: var(--color-black);
}

.colored-bar {
  display: flex;
  width: 100%;
}

.one-color {
  height: 1rem;
}

.colored-nav-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 3rem;
  border-radius: 15px;
  transition: background-color 0.3s;
}

.colored-nav-box:hover {
  background-color: var(--color-white);
  transition: background-color 0.3s;
}

.colored-nav-box span {
  justify-self: end;
}

.colored-nav-box.active {
  width: 150%;
}

nav a:hover {
  background-color: var(--color-white);
}

.header-right {
  display: flex;
}

.lang-select img {
  height: 29.6px;
}

.settings {
  display: flex;
  gap: 2rem;
  padding: 0rem 1rem;
  flex-direction: row;
  height: 70px;
  position: fixed;
  top: 0;
  right: 0;
  transform: translate(100%, 0%);
  align-items: center;
  background-color: var(--color-white);
  border-radius: 15px;
  transition: transform 0.3s;
  z-index: 1;
}

.settings.active {
  transform: translate(0%, 0%);
  transition: transform 0.3s;
}

.settings .lang-select {
  display: flex;
  gap: 0.4rem;
}

.settings .dark-mode {
  display: flex;
  gap: 0.4rem;
}

.settings .dark-mode .active {
  display: flex;
  gap: 0.4rem;
  background-color: var(--color-blue);
  border-radius: 15px;
}

.settings img:hover,
span:hover {
  cursor: pointer;
}

.account-window {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 31rem;
  height: 100vh;
  z-index: 1;
  background-color: var(--color-white);
  transform: translate(100%, 0%);
  transition: 0.3s;
  border-radius: 15px 0px 0px 15px;
}

.account-window .account-header {
  height: 70px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0rem 1rem;
}

.account-footer {
  height: 70px;
}

.account-window .account-container {
  height: 100%;
  width: 100%;
  padding-bottom: 70px;
}

.account-window.active {
  transform: translate(0%, 0%);
  transition: transform 0.3s;
}

.account-container {
  display: grid;
  place-content: center;
}

.hamburger {
  position: relative;
  display: block;
  width: 35px;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--color-black);
  margin: 6px 0px;
  transition: transform 0.4s;
}

.hamburger.active:before {
  transform: rotate(-45deg) translate(-5px, 4px);
}

.hamburger.active:after {
  transform: rotate(45deg) translate(-7px, -6px);
}

.hamburger.active .bar {
  opacity: 0;
}

.nav-menu {
  position: fixed;
  bottom: 0%;
  width: 18rem;
  height: calc(100vh - 70px);
  background-color: var(--color-accent);
  border-radius: 0px 15px 15px 0px;
  transform: translateX(-100%);
  transition: transform 0.4s;
}

.nav-menu.active {
  transform: translateX(0%);
  transition: transform 0.4s;
}

.nav-menu a ul {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav-item {
  padding: 2rem;
  display: flex;
  gap: 0.4rem;
  color: var(--color-black);
  border-radius: 0px 15px 15px 0px;
}

.nav-item:hover {
  background-color: var(--color-hover);
}

main {
  display: flex;
  flex-grow: 1;
}

.left-sidebar,
.right-sidebar {
  width: 15%;
}

.left-sidebar {
  left: 0%;
  bottom: 0%;
}

.right-sidebar {
  right: 0%;
  bottom: 0%;
}

.container {
  width: 70%;
  padding: 3rem 1rem;
}

.sponsors {
  position: fixed;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  align-content: center;
  padding: 5rem 1.2rem;
}

.sponsors img {
  width: 100%;
}

/* Templates */

.standard-box {
  background-color: var(--color-white);
  text-align: center;
  border-radius: 15px;
}

.standard-box h2 {
  background-color: #ff0000;
}

/* Login */

.login {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0rem;
  text-align: start;
}

.login form input {
  width: 200px;
}

.login-row {
  display: flex;
  flex-direction: column;
}

.login form input {
  padding: 1rem;
  border-radius: 15px;
}

.login h2 {
  font-size: 3rem;
}

.login .login-error {
  color: red;
}

.account-overview {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.account-top {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
}

.account-top .profile-pic {
  background-color: #00dfa2;
  border-radius: 50px;
  display: grid;
  place-content: center;
  width: 4rem;
  height: 4rem;
  font-size: 2.5rem;
  font-weight: 900;
  color: #fff;
}

.tickets {
  background-color: var(--color-background);
  border-radius: 15px;
  padding: 1rem;
}

.account-top button {
  padding: 0.2rem 1rem;
  background-color: red;
  border-radius: 15px;
  color: #fff;
}

.account-overview th,
.account-overview td {
  padding: 1rem;
}

table {
  border-spacing: 0px;
  text-align: center;
}

button {
  cursor: pointer;
}

.account-overview .blue {
  background-color: #4281f5;
}

.account-overview .green {
  background-color: #00dfa2;
}

.account-overview .yellow {
  background-color: #fcba03;
}

.account-overview .red {
  background-color: #eb4034;
}

.account-overview .purple {
  background-color: #ba34eb;
}

.account-overview .pink {
  background-color: #eb34a8;
}

.color-wheel {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.color-to-pick {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  border-radius: 50px;
  position: relative;
}

.color-to-pick.active {
  border: 5px solid var(--color-black);
}

.account-top .save-settings {
  background-color: #0720ad;
}

